FinalExam/SOAPExample/WebContent/wsdl/StudentServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getStudentName">
    <complexType>
     <sequence>
      <element name="sName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStudentNameResponse">
    <complexType>
     <sequence>
      <element name="getStudentNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStudentNameRequest">

      <wsdl:part element="impl:getStudentName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentNameResponse">

      <wsdl:part element="impl:getStudentNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StudentServiceImpl">

      <wsdl:operation name="getStudentName">

         <wsdl:input message="impl:getStudentNameRequest" name="getStudentNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStudentNameResponse" name="getStudentNameResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentServiceImplSoapBinding" type="impl:StudentServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStudentName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStudentNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStudentNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentServiceImplService">

      <wsdl:port binding="impl:StudentServiceImplSoapBinding" name="StudentServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/Quiz4_SOAP/services/StudentServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
